#Brasil{
    border: solid 3px green;
    height: 50vh;
    width: 70vw;
    background-color: rgb(147, 156, 153);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.brasilimg{
    height: 38vh;
    width: 20vw;
}
h1{
    text-align: center;
    color: yellow;
}
body{
    background-color: gray;
}